Repository nonsoolmate-official/nonsoolmate-client, pull requests merged in 2024-11, with the labels that each got.

#167 [ QA ] 멤버십 페이지 환급 대학 개수 추가
  src/assets/icon/univ10Ic.svg
  src/assets/icon/univ11Ic.svg
  src/assets/icon/univ12Ic.svg
  src/assets/icon/univ13Ic.svg
  src/assets/icon/univ14Ic.svg
  src/assets/icon/univ1Ic.svg
  src/assets/icon/univ2Ic.svg
  src/assets/icon/univ3Ic.svg
  src/assets/icon/univ4Ic.svg
  src/assets/icon/univ5Ic.svg
  src/assets/icon/univ6Ic.svg
  src/assets/icon/univ7Ic.svg
  src/assets/icon/univ8Ic.svg
  src/assets/icon/univ9Ic.svg
  src/assets/index.ts
  src/pages/membership/components/event/UnivBox.tsx
  src/pages/membership/constants/refund.ts
  src/pages/membership/core/univlist.ts
  src/pages/membership/event/index.tsx
Labels: Membership, QA

#171 [ QA ] 랜딩 슬라이드 이미지 변경 및 추가
  src/assets/image/uni1.png
  src/assets/image/uni2.png
  src/assets/image/uni3.png
  src/assets/image/uni4.png
  src/assets/image/uni5.png
  src/assets/image/uni6.png
  src/assets/image/uni7.png
  src/assets/image/uni8.png
  src/assets/image/uni9.png
  src/pages/landing/components/univeristy/UniversityCarousel.tsx
Labels: Landing, QA

#169 [ QA ] 답안지제출 예외사항 플로우, 마이페이지 다음달결제정보 디자인 수정
  src/pages/answer/components/correction/FileSubmitModal.tsx
  src/pages/answer/components/correction/SelectFileModal.tsx
  src/pages/mypage/components/PaymentInfo.tsx
  src/pages/takeTest/api/getPresignedUrl.ts
  src/pages/takeTest/components/modal/TestSubmitModal.tsx
  src/pages/takeTest/hooks/usePostExamRecord.ts
Labels: TakeTest, Mypage, QA

#165 [ Feat ] 멤버십 페이지에 첨삭권 단독 구매 옵션 추가 및 왈라폼 연결
  src/assets/icon/individualEditingIc.svg
  src/assets/index.ts
  src/pages/membership/components/Contents.tsx
  src/pages/membership/components/Title.tsx
  src/pages/membership/components/advantage/AdvanBox.tsx
  src/pages/membership/components/advantage/Advantage.tsx
  src/pages/membership/components/subscribe/Icons.tsx
  src/pages/membership/components/subscribe/PurchaseButton.tsx
  src/pages/membership/core/individualPurchase.ts
Labels: 💡Feat, Membership

#172 [ QA ] 약관 동의 텍스트에 노션 링크 연결
  src/pages/payment/components/paymentInfo/Agreements.tsx
Labels: Payment, QA

#175 [ HotFix ] 첨삭권 옵션 세션 스토리지에 추가 안되도록 수정
  src/pages/membership/components/subscribe/PurchaseButton.tsx
Labels: Membership, 🚐HotFix

#177 [ QA ] 마이페이지 QA 해결
  src/components/modal/Modal.tsx
  src/pages/mypage/components/MemberInfo.tsx
  src/pages/mypage/components/Mentor.tsx
  src/pages/mypage/hooks/useMemberInfo.ts
Labels: Mypage, QA

#179 [ QA ] 첨삭 선생님 프로필 보여주는 방식 변경
  src/assets/icon/teacherFemaleIc.svg
  src/assets/icon/teacherMaleIc.svg
  src/assets/index.ts
  src/pages/mypage/api/getMentor.ts
  src/pages/mypage/components/Mentor.tsx
Labels: Mypage, QA

#181 [ QA ] 논술 합격 인증 마크 태그 필드 삭제에 따른 api 수정 및 텍스트 삽입
  src/pages/mypage/api/getMentor.ts
  src/pages/mypage/components/Mentor.tsx
Labels: Mypage, QA

#184 [ Design ] 랜딩페이지 모바일 반응형 UI
  src/assets/icon/logoSmallIc.svg
  src/assets/icon/mobileErrorIc.svg
  src/assets/image/careServiceMobile.png
  src/assets/index.ts
  src/components/button/Button.tsx
  src/components/button/LoginButton.tsx
  src/components/header/Header.tsx
  src/components/header/HeaderLeft.tsx
  src/components/header/HeaderRight.tsx
  src/constants/errorMessage.ts
  src/pages/error/components/Mobile.tsx
  src/pages/error/constants/mobile.ts
  src/pages/home/components/HomeHeader.tsx
  src/pages/landing/components/advertise/Advertise.tsx
  src/pages/landing/components/advertise/Advertisement/Reasons.tsx
  src/pages/landing/components/advertise/Summary.tsx
  src/pages/landing/components/advertise/Title.tsx
  src/pages/landing/components/banner/Banner.tsx
  src/pages/landing/components/banner/Title.tsx
  src/pages/landing/components/common/Content.tsx
  src/pages/landing/components/common/GuideLayout.tsx
  src/pages/landing/components/consulting/Consulting.tsx
  src/pages/landing/components/consulting/ConsultingText.tsx
  src/pages/landing/components/faq/Title.tsx
  src/pages/landing/components/faq/qna/Answer.tsx
  src/pages/landing/components/faq/qna/Question.tsx
  src/pages/landing/components/features/PracticeFeature.tsx
  src/pages/landing/components/features/TestFeature.tsx
  src/pages/landing/components/footer/Sns.tsx
  src/pages/landing/components/univeristy/Summary.tsx
  src/pages/landing/components/univeristy/Title.tsx
  src/pages/landing/components/univeristy/Univeristy.tsx
  src/router.tsx
  src/style/responsiveStyle.ts
  src/utils/openUrl.ts
Labels: 🎨Design, Landing

#185 [ Design ] 멤버십 페이지 모바일 반응형 UI
  src/components/button/LoginButton.tsx
  src/components/button/MembershipButton.tsx
  src/components/header/HeaderRight.tsx
  src/pages/error/components/Mobile.tsx
  src/pages/landing/components/footer/Footer.tsx
  src/pages/landing/components/footer/FooterRight.tsx
  src/pages/membership/components/Contents.tsx
  src/pages/membership/components/Title.tsx
  src/pages/membership/components/advantage/AdvanBox.tsx
  src/pages/membership/components/curriculum/ContentBox.tsx
  src/pages/membership/curriculum/index.tsx
  src/pages/membership/event/index.tsx
  src/pages/membership/index.tsx
Labels: 🎨Design, Membership

#187 [ QA ] 모바일 페이지 QA 해결
  src/assets/image/careServiceMobile.png
  src/components/button/LoginButton.tsx
  src/pages/error/components/Mobile.tsx
  src/pages/landing/components/consulting/Consulting.tsx
  src/pages/membership/components/subscribe/PurchaseButton.tsx
  src/pages/membership/event/index.tsx
Labels: Landing, Membership, QA

#192 [Hotfix] 멤버십 해지 & 연장 버튼 이슈 해결
  src/pages/mypage/components/MembershipInfo.tsx
Labels: 🚐HotFix
