Repository nonsoolmate-official/nonsoolmate-client, pull requests merged in 2024-09, with the labels that each got.

#85 [ Membership ] 추가된 페이지 디자인
  nonsoolmateClient/src/assets/icon/advan1Ic.svg
  nonsoolmateClient/src/assets/icon/advan2Ic.svg
  nonsoolmateClient/src/assets/icon/advan3Ic.svg
  nonsoolmateClient/src/assets/icon/advan4Ic.svg
  nonsoolmateClient/src/assets/icon/advan5Ic.svg
  nonsoolmateClient/src/assets/icon/curriculum1Ic.svg
  nonsoolmateClient/src/assets/icon/curriculum3Ic.svg
  nonsoolmateClient/src/assets/icon/curriculum4Ic.svg
  nonsoolmateClient/src/assets/icon/curriculum5Ic.svg
  nonsoolmateClient/src/assets/icon/footerLogoIc.svg
  nonsoolmateClient/src/assets/icon/presentIc.svg
  nonsoolmateClient/src/assets/icon/univ1Ic.svg
  nonsoolmateClient/src/assets/icon/univ2Ic.svg
  nonsoolmateClient/src/assets/icon/univ3Ic.svg
  nonsoolmateClient/src/assets/icon/univ4Ic.svg
  nonsoolmateClient/src/assets/icon/univ5Ic.svg
  nonsoolmateClient/src/assets/icon/univ6Ic.svg
  nonsoolmateClient/src/assets/icon/univ7Ic.svg
  nonsoolmateClient/src/assets/icon/univ8Ic.svg
  nonsoolmateClient/src/assets/icon/univ9Ic.svg
  nonsoolmateClient/src/assets/index.ts
  nonsoolmateClient/src/membership/components/Contents.tsx
  nonsoolmateClient/src/membership/components/Title.tsx
  nonsoolmateClient/src/membership/components/advantage/AdvanBox.tsx
  nonsoolmateClient/src/membership/components/advantage/Advantage.tsx
  nonsoolmateClient/src/membership/components/advantage/Summary.tsx
  nonsoolmateClient/src/membership/components/advantage/Title.tsx
  nonsoolmateClient/src/membership/components/curriculum/ContentBox.tsx
  nonsoolmateClient/src/membership/components/event/UnivBox.tsx
  nonsoolmateClient/src/membership/components/subscribe/BasicSummary.tsx
  nonsoolmateClient/src/membership/components/subscribe/Icons.tsx
  nonsoolmateClient/src/membership/components/subscribe/PremiumSummary.tsx
  nonsoolmateClient/src/membership/components/subscribe/Subscribe.tsx
  nonsoolmateClient/src/membership/components/subscribe/Summary.tsx
  nonsoolmateClient/src/membership/components/subscribe/Title.tsx
  nonsoolmateClient/src/membership/core/contentlist.ts
  nonsoolmateClient/src/membership/core/curriculum.ts
  nonsoolmateClient/src/membership/core/univlist.ts
  nonsoolmateClient/src/membership/curriculum/index.tsx
  nonsoolmateClient/src/membership/event/index.tsx
  nonsoolmateClient/src/membership/index.tsx
  nonsoolmateClient/src/membership/types/contentlisttpye.ts
Labels: 🎨Design, Membership

#86 [ Landing ] 랜딩페이지 아이패드 반응형
  nonsoolmateClient/src/assets/image/HomeTestSetTablet.png
  nonsoolmateClient/src/landing/components/advertise/Advertisement/Advertisement.tsx
  nonsoolmateClient/src/landing/components/banner/Banner.tsx
  nonsoolmateClient/src/landing/components/banner/HomeImg.tsx
  nonsoolmateClient/src/landing/components/banner/Title.tsx
  nonsoolmateClient/src/landing/components/features/Content.tsx
  nonsoolmateClient/src/landing/index.tsx
Labels: 🎨Design, Landing

#92 [ Home ] response 필드 examId로 고치기
  nonsoolmateClient/src/home/api/getSelectUniversities.ts
  nonsoolmateClient/src/home/api/getSelectUniversityExams.ts
  nonsoolmateClient/src/home/api/patchSelectUniversities.ts
  nonsoolmateClient/src/home/components/SelectedUniversityToggle.tsx
  nonsoolmateClient/src/home/components/UniversityModal.tsx
  nonsoolmateClient/src/home/homeTest/HomeTest.tsx
  nonsoolmateClient/src/home/homeTest/HomeTestSet.tsx
  nonsoolmateClient/src/home/hooks/useGetSelectUniversityExams.ts
Labels: 🔧Fix
