Repository nonsoolmate-official/nonsoolmate-client, pull requests merged in 2024-10, with the labels that each got.

#96 [ Feat ] 마이페이지 레이아웃 퍼블리싱
  nonsoolmateClient/src/pages/mypage/components/IpadMypageSide.tsx
  nonsoolmateClient/src/pages/mypage/components/MypageSide.tsx
  nonsoolmateClient/src/pages/mypage/components/SideNav.tsx
  nonsoolmateClient/src/pages/mypage/components/TabletSideNav.tsx
  nonsoolmateClient/src/pages/mypage/index.tsx
  nonsoolmateClient/src/pages/mypage/types/menu.ts
Labels: 🎨Design, 💡Feat, Mypage

#98 [ Feat ] 마이페이지 레이아웃 퍼블리싱
  nonsoolmateClient/src/pages/mypage/components/IpadMypageSide.tsx
  nonsoolmateClient/src/pages/mypage/components/MypageSide.tsx
  nonsoolmateClient/src/pages/mypage/components/SideNav.tsx
  nonsoolmateClient/src/pages/mypage/components/TabletSideNav.tsx
  nonsoolmateClient/src/pages/mypage/index.tsx
  nonsoolmateClient/src/pages/mypage/types/menu.ts
Labels: 💡Feat, Mypage

#99 [ Feat ] 회원 정보 섹션 구현
  nonsoolmateClient/src/components/buttons/Button.tsx
  nonsoolmateClient/src/components/input/Input.tsx
  nonsoolmateClient/src/components/radioButton/RadioButton.tsx
  nonsoolmateClient/src/components/radioButton/RadioButtonGroup.tsx
  nonsoolmateClient/src/constants/errorMessage.ts
  nonsoolmateClient/src/pages/mypage/api/getProfile.ts
  nonsoolmateClient/src/pages/mypage/components/MemberInfo.tsx
  nonsoolmateClient/src/pages/mypage/components/SideNav.tsx
  nonsoolmateClient/src/pages/mypage/components/TabletSideNav.tsx
  nonsoolmateClient/src/pages/mypage/hooks/useGetProfile.ts
  nonsoolmateClient/src/pages/mypage/hooks/useMemberInfo.ts
  nonsoolmateClient/src/pages/mypage/types/Info.ts
Labels: 💡Feat, Mypage

#108 [ HotFix ] 사용자 이탈 방지 위한 왈라폼 링크 연결
  nonsoolmateClient/src/components/onbordingheader/HeaderRight.tsx
  nonsoolmateClient/src/pages/membership/components/subscribe/PurchaseButton.tsx
Labels: 🚐HotFix

#105 [ Feat ] 마이페이지 멤버십 UI 구현
  nonsoolmateClient/src/assets/icon/couponIc.svg
  nonsoolmateClient/src/assets/icon/discountIc.svg
  nonsoolmateClient/src/assets/icon/membershipPlanIc.svg
  nonsoolmateClient/src/assets/index.ts
  nonsoolmateClient/src/components/buttons/Button.tsx
  nonsoolmateClient/src/pages/mypage/components/MemberInfo.tsx
  nonsoolmateClient/src/pages/mypage/components/MembershipInfo.tsx
  nonsoolmateClient/src/pages/mypage/components/PaymentInfo.tsx
  nonsoolmateClient/src/pages/mypage/components/SideNav.tsx
  nonsoolmateClient/src/pages/mypage/constants/dummy.ts
  nonsoolmateClient/src/pages/mypage/index.tsx
Labels: 💡Feat, Mypage

#103 [ Feat ] 결제 페이지 구현
  nonsoolmateClient/src/assets/icon/basicPlanIc.svg
  nonsoolmateClient/src/assets/icon/checkEmptyBtnIc.svg
  nonsoolmateClient/src/assets/icon/premiumPlanIc.svg
  nonsoolmateClient/src/assets/index.ts
  nonsoolmateClient/src/pages/membership/components/subscribe/Icons.tsx
  nonsoolmateClient/src/pages/membership/components/subscribe/PurchaseButton.tsx
  nonsoolmateClient/src/pages/membership/components/subscribe/Subscribe.tsx
  nonsoolmateClient/src/pages/payment/components/orderInfo/OrderInfo.tsx
  nonsoolmateClient/src/pages/payment/components/orderInfo/Plan.tsx
  nonsoolmateClient/src/pages/payment/components/paymentInfo/Agreements.tsx
  nonsoolmateClient/src/pages/payment/components/paymentInfo/DiscountDetail.tsx
  nonsoolmateClient/src/pages/payment/components/paymentInfo/OrderDetail.tsx
  nonsoolmateClient/src/pages/payment/components/paymentInfo/Overview.tsx
  nonsoolmateClient/src/pages/payment/components/paymentInfo/PaymentInfo.tsx
  nonsoolmateClient/src/pages/payment/components/register/RegisterButton.tsx
  nonsoolmateClient/src/pages/payment/components/register/RegisterLayout.tsx
  nonsoolmateClient/src/pages/payment/core/agreementText.ts
  nonsoolmateClient/src/pages/payment/core/paymentInfoList.ts
  nonsoolmateClient/src/pages/payment/core/planList.ts
  nonsoolmateClient/src/pages/payment/core/registerText.ts
  nonsoolmateClient/src/pages/payment/index.tsx
  nonsoolmateClient/src/pages/payment/types/discountHistoryType.ts
  nonsoolmateClient/src/pages/payment/types/paymentInfoType.ts
  nonsoolmateClient/src/pages/payment/utils/calculateStandardDiscount.ts
  nonsoolmateClient/src/pages/socialLogin/hooks/usePostLogin.ts
Labels: 🎨Design, 💡Feat, Payment

#101 [ Feat ] 쿠폰 등록 페이지 api 연결 및 모달 디자인
  nonsoolmateClient/src/assets/icon/smallCouponIc.svg
  nonsoolmateClient/src/assets/index.ts
  nonsoolmateClient/src/pages/payment/api/getCoupon.ts
  nonsoolmateClient/src/pages/payment/api/postCoupon.ts
  nonsoolmateClient/src/pages/payment/components/coupon/CouponInput.tsx
  nonsoolmateClient/src/pages/payment/components/coupon/CouponList.tsx
  nonsoolmateClient/src/pages/payment/components/coupon/CouponModal.tsx
  nonsoolmateClient/src/pages/payment/components/register/RegisterButton.tsx
  nonsoolmateClient/src/pages/payment/components/register/RegisterLayout.tsx
  nonsoolmateClient/src/pages/payment/core/couponlists.ts
  nonsoolmateClient/src/pages/payment/hooks/useGetCoupon.ts
  nonsoolmateClient/src/pages/payment/hooks/usePostCoupon.ts
  nonsoolmateClient/src/pages/payment/index.tsx
  nonsoolmateClient/src/pages/payment/utils/coupon.ts
Labels: 〽️API, Payment

#116 [ Design ] 결제페이지 모달 UI
  nonsoolmateClient/src/assets/icon/paySuccessIc.svg
  nonsoolmateClient/src/assets/image/randomMatchImg.png
  nonsoolmateClient/src/assets/index.ts
  nonsoolmateClient/src/pages/membership/core/univlist.ts
  nonsoolmateClient/src/pages/membership/event/index.tsx
  nonsoolmateClient/src/pages/mypage/components/MemberInfo.tsx
  nonsoolmateClient/src/pages/payment/api/getCustomerInfo.ts
  nonsoolmateClient/src/pages/payment/api/getTargetUniv.ts
  nonsoolmateClient/src/pages/payment/api/patchTargetUniv.ts
  nonsoolmateClient/src/pages/payment/api/postMembership.ts
  nonsoolmateClient/src/pages/payment/components/SuccessModal.tsx
  nonsoolmateClient/src/pages/payment/components/coupon/CouponModal.tsx
  nonsoolmateClient/src/pages/payment/components/paymentInfo/PaymentInfo.tsx
  nonsoolmateClient/src/pages/payment/components/register/RegisterLayout.tsx
  nonsoolmateClient/src/pages/payment/components/teacherMatch/QuitMatchModal.tsx
  nonsoolmateClient/src/pages/payment/components/teacherMatch/RandomMatchModal.tsx
  nonsoolmateClient/src/pages/payment/components/teacherMatch/SelectUnivModal.tsx
  nonsoolmateClient/src/pages/payment/hooks/useGetCustomerInfo.ts
  nonsoolmateClient/src/pages/payment/hooks/useGetTargetUniv.ts
  nonsoolmateClient/src/pages/payment/hooks/usePatchTargetUniv.ts
  nonsoolmateClient/src/pages/payment/hooks/usePostMembership.ts
  nonsoolmateClient/src/pages/payment/index.tsx
Labels: 🎨Design, Payment

#112 [ Feat ] 헤더 - 프로필 모달 구현
  node_modules/.yarn-integrity
  nonsoolmateClient/src/assets/icon/monthlyMembershipGrayIc.svg
  nonsoolmateClient/src/assets/image/female.png
  nonsoolmateClient/src/assets/index.ts
  nonsoolmateClient/src/components/buttons/Button.tsx
  nonsoolmateClient/src/components/onbordingheader/Header.tsx
  nonsoolmateClient/src/hooks/useOutsideClick.ts
  nonsoolmateClient/src/pages/home/components/HomeHeader.tsx
  nonsoolmateClient/src/pages/home/components/HomeMemberInfoToggle.tsx
  nonsoolmateClient/src/pages/home/components/UserProfileModal.tsx
  nonsoolmateClient/src/pages/home/constants/dummy.ts
Labels: 💡Feat, Mypage

#118 [ Feat ] 카드 등록 , 카드 변경
  nonsoolmateClient/package.json
  nonsoolmateClient/src/assets/icon/cardIc.svg
  nonsoolmateClient/src/assets/index.ts
  nonsoolmateClient/src/pages/payment/api/getCardInfo.ts
  nonsoolmateClient/src/pages/payment/api/postCardRegister.ts
  nonsoolmateClient/src/pages/payment/api/putCardUpdate.ts
  nonsoolmateClient/src/pages/payment/components/Fail.tsx
  nonsoolmateClient/src/pages/payment/components/Success.tsx
  nonsoolmateClient/src/pages/payment/components/register/RegisterLayout.tsx
  nonsoolmateClient/src/pages/payment/hooks/useGetCardInfo.ts
  nonsoolmateClient/src/pages/payment/hooks/usePostCardRegister.ts
  nonsoolmateClient/src/pages/payment/hooks/usePutCardUpdate.ts
  nonsoolmateClient/src/pages/payment/index.tsx
  nonsoolmateClient/yarn.lock
Labels: 💡Feat, 〽️API, Payment

#123 [ Feat ] 결제 페이지 단일 상품 조회
  nonsoolmateClient/src/pages/payment/api/getSingleProduct.ts
  nonsoolmateClient/src/pages/payment/components/paymentInfo/OrderDetail.tsx
  nonsoolmateClient/src/pages/payment/components/paymentInfo/PaymentInfo.tsx
  nonsoolmateClient/src/pages/payment/core/paymentInfoList.ts
  nonsoolmateClient/src/pages/payment/hooks/useGetSingleProduct.ts
  nonsoolmateClient/src/pages/payment/types/paymentInfoType.ts
Labels: 💡Feat, 〽️API, Payment

#126 [ Fix ] 카드 등록 / 변경 후 payment 페이지 돌아올 때 이슈 해결
  nonsoolmateClient/src/pages/membership/components/subscribe/PurchaseButton.tsx
  nonsoolmateClient/src/pages/payment/components/orderInfo/OrderInfo.tsx
  nonsoolmateClient/src/pages/payment/index.tsx
Labels: 💡Feat, 🔧Fix, Payment

#127 [ Feat ] 결제하기
  nonsoolmateClient/src/components/onbordingheader/HeaderRight.tsx
  nonsoolmateClient/src/pages/payment/api/postMembership.ts
  nonsoolmateClient/src/pages/payment/components/SuccessModal.tsx
  nonsoolmateClient/src/pages/payment/components/coupon/CouponList.tsx
  nonsoolmateClient/src/pages/payment/components/coupon/CouponModal.tsx
  nonsoolmateClient/src/pages/payment/components/paymentInfo/DiscountDetail.tsx
  nonsoolmateClient/src/pages/payment/components/paymentInfo/Overview.tsx
  nonsoolmateClient/src/pages/payment/components/paymentInfo/PaymentInfo.tsx
  nonsoolmateClient/src/pages/payment/components/register/RegisterLayout.tsx
  nonsoolmateClient/src/pages/payment/hooks/usePostCardRegister.ts
  nonsoolmateClient/src/pages/payment/hooks/usePostMembership.ts
  nonsoolmateClient/src/pages/payment/index.tsx
  nonsoolmateClient/src/pages/payment/utils/coupon.ts
Labels: 〽️API, Payment

#132 [Feat] 마이페이지 모달
  nonsoolmateClient/src/App.tsx
  nonsoolmateClient/src/assets/icon/membershipBasicIc.svg
  nonsoolmateClient/src/assets/icon/membershipPremiumIc.svg
  nonsoolmateClient/src/assets/index.ts
  nonsoolmateClient/src/components/buttons/Button.tsx
  nonsoolmateClient/src/components/modal/ChoiceModal.tsx
  nonsoolmateClient/src/components/modal/ConfirmModal.tsx
  nonsoolmateClient/src/components/modal/DescriptionModal.tsx
  nonsoolmateClient/src/components/modal/Modal.tsx
  nonsoolmateClient/src/constants/modal.ts
  nonsoolmateClient/src/contexts/ModalProvider.tsx
  nonsoolmateClient/src/hooks/useModal.ts
  nonsoolmateClient/src/pages/mypage/components/MemberInfo.tsx
  nonsoolmateClient/src/pages/mypage/components/MembershipInfo.tsx
  nonsoolmateClient/src/pages/mypage/components/PaymentInfo.tsx
  nonsoolmateClient/src/pages/mypage/constants/dummy.ts
Labels: 💡Feat, Mypage

#135 [Feat] 프로필 모달 GET & 첨삭 선생님 GET
  nonsoolmateClient/src/assets/icon/femaleStudentIc.svg
  nonsoolmateClient/src/assets/icon/maleStudentIc.svg
  nonsoolmateClient/src/assets/icon/neutralStudentIc.svg
  nonsoolmateClient/src/assets/index.ts
  nonsoolmateClient/src/pages/home/api/getTicket.ts
  nonsoolmateClient/src/pages/home/components/UserProfileModal.tsx
  nonsoolmateClient/src/pages/home/hooks/useGetTicket.ts
  nonsoolmateClient/src/pages/mypage/api/getMentor.ts
  nonsoolmateClient/src/pages/mypage/api/getProfile.ts
  nonsoolmateClient/src/pages/mypage/components/Mentor.tsx
  nonsoolmateClient/src/pages/mypage/constants/dummy.ts
  nonsoolmateClient/src/pages/mypage/hooks/useGetMentor.ts
  nonsoolmateClient/src/pages/mypage/hooks/useGetProfile.ts
Labels: 💡Feat, 〽️API, Mypage

#136 [Feat] 마이페이지 API 연결
  nonsoolmateClient/src/components/radioButton/RadioButton.tsx
  nonsoolmateClient/src/pages/mypage/api/getMembership.ts
  nonsoolmateClient/src/pages/mypage/api/getPayment.ts
  nonsoolmateClient/src/pages/mypage/api/patchMembershipStatus.ts
  nonsoolmateClient/src/pages/mypage/api/putMemberInfo.ts
  nonsoolmateClient/src/pages/mypage/components/MemberInfo.tsx
  nonsoolmateClient/src/pages/mypage/components/MembershipInfo.tsx
  nonsoolmateClient/src/pages/mypage/components/Mentor.tsx
  nonsoolmateClient/src/pages/mypage/components/PaymentInfo.tsx
  nonsoolmateClient/src/pages/mypage/components/TabletSideNav.tsx
  nonsoolmateClient/src/pages/mypage/hooks/useGetMembership.ts
  nonsoolmateClient/src/pages/mypage/hooks/useGetPayment.ts
  nonsoolmateClient/src/pages/mypage/hooks/usePatchMembershipStatus.ts
  nonsoolmateClient/src/pages/mypage/hooks/usePutMemberInfo.ts
  nonsoolmateClient/src/pages/mypage/index.tsx
  nonsoolmateClient/src/pages/mypage/utils/date.ts
Labels: 💡Feat, 〽️API, Mypage

#139 [ Hotfix ] 데이터에 유무에 따라 다른 뷰 띄워줌
  nonsoolmateClient/src/pages/home/constants/dummy.ts
  nonsoolmateClient/src/pages/mypage/api/getMembership.ts
  nonsoolmateClient/src/pages/mypage/components/MembershipInfo.tsx
  nonsoolmateClient/src/pages/mypage/constants/dummy.ts
Labels: Mypage, 🚐HotFix

#137 [Feat] 마이페이지 쿠폰 모달 적용
  nonsoolmateClient/src/assets/icon/payFailIc.svg
  nonsoolmateClient/src/assets/index.ts
  nonsoolmateClient/src/constants/coupon.ts
  nonsoolmateClient/src/pages/mypage/components/PaymentInfo.tsx
  nonsoolmateClient/src/pages/payment/components/FailModal.tsx
  nonsoolmateClient/src/pages/payment/components/coupon/CouponModal.tsx
  nonsoolmateClient/src/pages/payment/components/register/RegisterLayout.tsx
  nonsoolmateClient/src/pages/payment/index.tsx
Labels: 🎨Design, Mypage

#146 [ Refactor ] 폴더 구조 변경 및 폴더명 변경
  .DS_Store
  nonsoolmateClient/.github/ISSUE_TEMPLATE/feature_request.md
  nonsoolmateClient/.github/pull_request_template.md
  nonsoolmateClient/src/components/button/Button.tsx
  nonsoolmateClient/src/components/button/LoginButton.tsx
  nonsoolmateClient/src/components/button/MembershipButton.tsx
  nonsoolmateClient/src/components/header/Header.tsx
  nonsoolmateClient/src/components/header/HeaderLeft.tsx
  nonsoolmateClient/src/components/header/HeaderRight.tsx
  nonsoolmateClient/src/components/modal/ChoiceModal.tsx
  nonsoolmateClient/src/components/modal/ConfirmModal.tsx
  nonsoolmateClient/src/components/modal/DescriptionModal.tsx
  nonsoolmateClient/src/pages/home/components/UserProfileModal.tsx
  nonsoolmateClient/src/pages/landing/index.tsx
  nonsoolmateClient/src/pages/membership/index.tsx
  nonsoolmateClient/src/pages/mypage/components/MemberInfo.tsx
  nonsoolmateClient/src/pages/mypage/components/MembershipInfo.tsx
  nonsoolmateClient/src/pages/mypage/components/Mentor.tsx
  nonsoolmateClient/src/pages/mypage/components/PaymentInfo.tsx
Labels: ⚙️Refactor

#150 [ Feat ] QA 위한 dev 페이지 이동 수정
  src/pages/home/components/HomeHeader.tsx
  src/pages/socialLogin/hooks/usePostLogin.ts
Labels: 💡Feat

#157 [ QA ] 결제페이지 QA
  src/pages/payment/components/register/RegisterLayout.tsx
  src/pages/payment/core/registerText.ts
  src/pages/payment/index.tsx
Labels: Payment, QA

#158 [ Feat ] 랜딩페이지 GUI 수정사항 반영
  src/assets/icon/practiceIc.svg
  src/assets/icon/priceIc.svg
  src/assets/icon/reviewIc.svg
  src/assets/icon/takeTestIc.svg
  src/assets/image/applyUnivConsulting.png
  src/assets/image/careServiceImg.png
  src/assets/image/comparePrice.png
  src/assets/image/landing_price.png
  src/assets/image/universitiesBg.png
  src/assets/index.ts
  src/pages/landing/components/common/Content.tsx
  src/pages/landing/components/common/GuideLayout.tsx
  src/pages/landing/components/consulting/Consulting.tsx
  src/pages/landing/components/consulting/ConsultingText.tsx
  src/pages/landing/components/features/PracticeFeature.tsx
  src/pages/landing/components/features/TestFeature.tsx
  src/pages/landing/components/features/Title.tsx
  src/pages/landing/components/price/Price.tsx
  src/pages/landing/components/requestForm/RequestForm.tsx
  src/pages/landing/components/review/Review.tsx
  src/pages/landing/components/review/ReviewSlider.tsx
  src/pages/landing/components/review/reviewCard/ReviewCard.tsx
  src/pages/landing/constants/review.ts
  src/pages/landing/index.tsx
  src/style/style.d.ts
  src/style/theme.ts
Labels: 💡Feat, Landing

#160 [ QA ] 급함/마감
  src/pages/answer/components/correction/FileEndModal.tsx
  src/pages/answer/components/correction/SelectFileModal.tsx
  src/pages/answer/correction/index.tsx
  src/pages/home/components/TakeTestModal.tsx
  src/pages/mypage/components/PaymentInfo.tsx
  src/pages/payment/components/coupon/CouponModal.tsx
  src/pages/payment/hooks/useGetCoupon.ts
  src/pages/payment/utils/coupon.ts
  src/pages/takeTest/components/header/TestHeader.tsx
  src/pages/takeTest/components/modal/EndTestModal.tsx
  src/pages/takeTest/components/modal/TestFinishModal.tsx
  src/pages/takeTest/index.tsx
Labels: 🚐HotFix, QA

#161 [ Feat ] 프리미엄 1대1 질의응답 버튼 추가
  src/pages/mypage/api/getMentor.ts
  src/pages/mypage/components/Mentor.tsx
Labels: 💡Feat, Mypage

#164 [ QA ] 모달 변경사항 반영 & align 수정
  src/assets/image/errorIc.png
  src/assets/image/loadingIc.png
  src/components/button/Button.tsx
  src/components/input/Input.tsx
  src/pages/home/components/UserProfileModal.tsx
  src/pages/home/constants/modal.ts
  src/pages/mypage/components/MemberInfo.tsx
  src/pages/mypage/components/PaymentInfo.tsx
  src/pages/mypage/constants/member.ts
Labels: QA
